@model IEnumerable<D05.Models.Event>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Aquatix</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/home.css" />
        <link rel="stylesheet" href="~/css/exhibits.css" />
        
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

    </environment>
    
</head>
<body>
    @using System.Security.Claims
    <input type="hidden" id="tabInfo" value= @ViewData["key"]  >
    <div id="exhibits">
        <div class="navbar-wrapper">
            <div class="container">
                <!-- start  of navigation bar-->

                <nav class="navbar navbar-inverse" id="navid">
                    <div class="container">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Aquatix Aquarium</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="dropdown">
                                    <a href="html/planyourvisit.html" class="dropdown-toggle"
                                       data-toggle="dropdown" role="button">Visitor Info<b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="/Planyourvisit/PlanYourVisit?tab=hours">Hours and Prices</a></li>
                                        <li><a href="/Planyourvisit/PlanYourVisit?tab=tickets">Buy Tickets</a></li>
                                        
                                        <li><a href="/Planyourvisit/PlanYourVisit?tab=occasions">Special Occasions</a></li>
                                        
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a asp-controller="" asp-action="" class="dropdown-toggle"
                                       data-toggle="dropdown" role="button">Exhibits<b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu">
                                        @{
                                            var count = 0;
                                            var number = "";
                                        }

                                        @foreach (var item in Model)
                                        {
                                            if (!item.IsSpecialEvent)
                                            {
                                                count++;
                                                if (count == 1) { number = "one"; }
                                                else if (count == 2) { number = "two"; }
                                                else if (count == 3) { number = "three"; }
                                                else if (count == 4) { number = "four"; }
                                                else if (count == 5) { number = "five"; }
                                                else if (count == 6) { number = "six"; }
                                                else if (count == 7) { number = "seven"; }
                                                else if (count == 8) { number = "eight"; }
                                                else if (count == 9) { number = "nine"; }
                                                else if (count == 10) { number = "ten"; }
                                                var url = "/Exhibits/Exhibits?tab=ex" + number;
                                                <li><a href=@url>@Html.DisplayFor(modelItem => item.EventName)</a></li>
                                            }

                                        }

                                        @*<li><a href="/Exhibits/Exhibits?tab=exone">Journey to Atlantis</a></li>
                                        <li><a href="/Exhibits/Exhibits?tab=extwo">Dolphin Notch</a></li>
                                        <li><a href="/Exhibits/Exhibits?tab=exthree">Seaworld Tower</a></li>
                                        <li><a href="/Exhibits/Exhibits?tab=exfour">Walrus Skerry</a></li>
                                        <li><a href="/Exhibits/Exhibits?tab=exfive">Killer Whales</a></li>
                                        <li><a href="/Exhibits/Exhibits?tab=exsix">Coral Reef</a></li>
                                        <li><a href="/Exhibits/Exhibits?tab=exseven">Danty Sealions</a></li>*@

                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a asp-controller="" asp-action="" class="dropdown-toggle"
                                       data-toggle="dropdown" role="button">More Info<b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a asp-controller="Home" asp-action="About">About us</a></li>
                                        <li><a asp-controller="Home" asp-action="Contact">Contact us</a></li>
                                        <li><a asp-controller="Home" asp-action="FAQs">FAQs</a></li>
                                        <li><a asp-controller="Home" asp-action="TeamRoles">Team Roles</a></li>
                                        <li><a asp-controller="Home" asp-action="Milestone">Milestone</a></li>
                                        <li><a asp-controller="Home" asp-action="RemainingWorkPlan">Remaining Work</a></li>

                                    </ul>
                                </li>

                                @if (User.IsSignedIn() && User.IsInRole("admin"))
                                {
                                    <li><a asp-controller="Admin" asp-action="Index">Admin</a></li>
                                }
                            </ul>


                            @if (User.IsSignedIn())
                            {
                                <div id="myaccount" style="padding-right:30px">
                                    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="nav navbar-nav navbar-right">
                                        <ul class="nav navbar-nav">
                                            <li>
                                                <a asp-controller="Manage" asp-action="Index">Hello @User.GetUserName()</a>
                                            </li>
                                            <li>
                                                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
                                            </li>
                                        </ul>
                                    </form>
                                </div>
                            }
                            else {
                                <div id="loginlinks" style="padding-right:30px">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                                        <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
                                    </ul>
                                </div>
                            } 
                        </div>
                    </div>
                </nav>

                <!-- end of navigation bar-->
            </div>
        </div>


        <div class="container" style="margin-top:-10px;">
            <!-- start of breadcrumb -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="../home.html">Back</a></li>
                        <li><strong>Exhibits</strong></li>
                    </ul>
                </div>
            </div>
            <!-- end  of breadcrumb -->
            <!-- start of nav tab left -->
            <div class="tabbable tabs-left">
                <div class="row">
                    <!-- start of list for nav tab left-->
                    <div class="col-md-3" id='tabmenu'>
                        <ul class="nav nav-pills nav-stacked">

                            @{
                                var tabcount = 0;
                                var numbers = "";
                            }

                            @foreach (var item in Model)
                            {
                                if (!item.IsSpecialEvent)
                                {
                                    tabcount++;
                                    if (tabcount == 1) { numbers = "one"; }
                                    if (tabcount == 2) { numbers = "two"; }
                                    if (tabcount == 3) { numbers = "three"; }
                                    if (tabcount == 4) { numbers = "four"; }
                                    if (tabcount == 5) { numbers = "five"; }
                                    if (tabcount == 6) { numbers = "six"; }
                                    if (tabcount == 7) { numbers = "seven"; }
                                    if (tabcount == 8) { numbers = "eight"; }
                                    if (tabcount == 9) { numbers = "nine"; }
                                    if (tabcount == 10) { numbers = "ten"; }

                                    var liID = "ex" + numbers + "tab";
                                    var achorHref = "#ex" + numbers + "target";
                                    <li id=@liID><a href=@achorHref data-toggle='tab'>@Html.DisplayFor(modelItem => item.EventName)</a></li>
                                }

                            }


                            @*<li id="exonetab"><a href="#exonetarget" data-toggle='tab'>Journey to Atlantis</a></li>
                            <li id="extwotab"><a href="#extwotarget" data-toggle='tab'>Dolphin Notch</a></li>
                            <li id="exthreetab"><a href="#exthreetarget" data-toggle='tab'>Seaworld Tower</a></li>
                            <li id="exfourtab"><a href="#exfourtarget" data-toggle='tab'>Walrus Skerry</a></li>
                            <li id="exfivetab"><a href="#exfivetarget" data-toggle='tab'>Killer Whales</a></li>
                            <li id="exsixtab"><a href="#exsixtarget" data-toggle='tab'>Coral Reef</a></li>
                            <li id="exseventab"><a href="#exseventarget" data-toggle='tab'>Danty Sealions</a></li>*@
                        </ul>
                    </div>
                    <!-- end of list for nav tab left-->
                    <!-- start of nav tab content -->
                    <div class="tab-content col-md-9">


                        @{
                            var tabcount2 = 0;
                            
                        }

                        @foreach (var item in Model)
                        {

                            if (!item.IsSpecialEvent)
                            {
                                tabcount2++;
                                if (tabcount2 == 1) { number = "one"; }
                                else if (tabcount2 == 2) { number = "two"; }
                                else if (tabcount2 == 3) { number = "three"; }
                                else if (tabcount2 == 4) { number = "four"; }
                                else if (tabcount2 == 5) { number = "five"; }
                                else if (tabcount2 == 6) { number = "six"; }
                                else if (tabcount2 == 7) { number = "seven"; }
                                else if (tabcount2 == 8) { number = "eight"; }
                                else if (tabcount2 == 9) { number = "nine"; }
                                else if (tabcount2 == 10) { number = "ten"; }

                                var liID = "ex" + number + "tab";
                                var divID = "ex" + number + "target";
                                var exhibitPlaceholder = "exhibit-placeholder_" + tabcount2;
                                var descriptionDivId = "exhibitDesc" + number;

                                <!-- start of div content for ExhibitOne -->
                                <div class="tab-pane active" id=@divID>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class=@exhibitPlaceholder>&nbsp;</div>
                                            <h4><strong>@Html.DisplayFor(modelItem => item.EventName)</strong></h4>
                                            <div id=@descriptionDivId style="text-align:justify">@item.Description</div>
                                                @*<script>
                                                    function data(){
                                                        document.getElementById("exhibitDesc").innerHTML = @item.Description;
                                                    }
                                                </script>*@
                                        </div>
                                    </div>
                                    <div class="row exhibitnote">
                                        <div class="col-md-9">
                                            <h4>Note:All the exhibits can be visited with your Entry Ticket</h4>
                                        </div>
                                        <a class="col-md-3" asp-controller="Planyourvisit" asp-action="PlanYourVisit" asp-fragment="?tab=tickets">
                                            <input type="button" class="btn btn-primary btn-sm" value="Buy Your Entry Tickets" />
                                        </a>
                                    </div>
                                </div>
                        <!-- end of div content for ExhibitOne -->
                                
                            }
                            

                        }




                        @*<!-- start of div content for ExhibitOne -->
                        <div class="tab-pane active" id="exonetarget">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="exhibit-placeholder_1">&nbsp;</div>
                                    <h4><strong>Journey to Atlantis</strong></h4>
                                    <p>Journey to Atlantis features a small aquarium exhibit, "Jewels of the Sea", in its gift shop exit area. Inside, guests will find aquaria</p>
                                    <p>built into the floor and the ceiling of the exhibit, along with more traditional aquaria.Water ride enthusiasts are in for a rush as this</p>
                                    <p>legendary heaven uncovers its darker side. This energizing flume ride/exciting ride cross breed treats you to more than its impart of </p>
                                    <p>shocks as you investigate dull,watery ways through the indented city before being flung from its entryways down an exciting dive into  </p>
                                    <p>the waters underneath.Get ready for the ultimate adventure ride, Journey to Atlantis!Travelling on water & high-speed rails, you'll be  </p>
                                    <p>chased by spirits who want to keep Atlantis & you for their own!</p>

                                </div>
                            </div>
                            <div class="row exhibitnote">
                                <div class="col-md-9">
                                    <h4>Note:All the exhibits can be visited with your Entry Ticket</h4>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-primary btn-sm">Buy Your Entry Tickets</button>
                                </div>
                            </div>
                        </div>
                        <!-- end of div content for ExhibitOne -->
                        <!-- start of div content for ExhibitTwo -->
                        <div class="tab-pane" id="extwotarget">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="exhibit-placeholder_2"></div>
                                    <h4><strong>Dolphin Notch</strong></h4>
                                    <p>This exhibit is open for visitors to stop in as many times as they'd like. Guests get a glimpse into the daily life of a dolphin </p>
                                    <p>how they learn, play and interact with each other—and can chat with our marine mammal experts to discover what it's like to care </p>
                                    <p>for, teach and build relationships with these incredible animals.You can appreciate swimming with dolphins and connect with them </p>
                                    <p>as they kiss you, cuddle with you, do aeronautical trapeze artistry for you, and complete off with an intriguing Boogie Push, where</p>
                                    <p>the dolphin will push you over the water surface while you ride a boogie board. Magnificent! Also, the Swim Adventure system  </p>
                                    <p> includes the Belly Ride,  where you will clutch the dolphin's fins as he rides over the water. </p>

                                </div>
                            </div>
                            <div class="row exhibitnote">
                                <div class="col-md-9">
                                    <h4>Note:All the exhibits can be visited with your Entry Ticket</h4>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-primary btn-sm">Buy Your Entry Tickets</button>
                                </div>
                            </div>
                        </div>
                        <!-- end of div content for ExhibitTwo -->
                        <!-- start of div content for ExhibitThree -->
                        <div class="tab-pane" id="exthreetarget">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="exhibit-placeholder_3"></div>
                                    <h4><strong>Seaworld Tower</strong></h4>
                                    <p>Ascend high above SeaWorld for a scenery you'll always remember. Watch out over the magnificence of Mission Bay, the dark blue </p>
                                    <p>Pacific Ocean and the notable horizon. With clear skies, you can see up to a hundred miles in every directions.Just as SeaWorld</p>
                                    <p>brought attention to the plight of the manatee with the attraction "Manatee Rescue," which created interest that helped to save</p>
                                    <p>the species, TurtleTrek®'s 3D 360° theatre showcases the vulnerable sea turtle and asks everyday heroes across the globe to help</p>
                                    <p>make a difference in saving animals in the wild.And when you leave this incredible attraction, hopefully you'll be inspired to  </p>
                                    <p>help make the world a better place by doing even the smallest things. Remember, it has to start somewhere. See how you can turn </p>
                                    <p>into an Everyday Hero too.</p>


                                </div>
                            </div>
                            <div class="row exhibitnote">
                                <div class="col-md-9">
                                    <h4>Note:All the exhibits can be visited with your Entry Ticket</h4>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-primary btn-sm">Buy Your Entry Tickets</button>
                                </div>
                            </div>
                        </div>
                        <!-- end of div content for ExhibitThree -->
                        <!-- start of div content for ExhibitFour -->
                        <div class="tab-pane" id="exfourtarget">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="exhibit-placeholder_4"></div>
                                    <h4><strong>Walrus Skerry</strong></h4>
                                    <p>The walrus (Odobenus rosmarus) is a large marine mammal with flippers, a broad head, short muzzle, small eyes, tusks and </p>
                                    <p>whiskers.Scientists recognize two subspecies of walrus – the Atlantic walrus and the Pacific walrus.Walruses are cinnamon brown in </p>
                                    <p>color.Simulators meets brave experience as you leave on an exciting plane helicopter ride through the stunning, hazardous, frigid </p>
                                    <p>scenes of the solidified north. Placed yourself in your pilot's hands as he moves misleading solidified crests and valleys on the  </p>
                                    <p>way to Base Station Wild Arctic—a spot where superb beluga whales and walruses have transformed Mother Nature's most difficult  </p>
                                    <p>conditions into a polar play. </p>


                                </div>
                            </div>
                            <div class="row exhibitnote">
                                <div class="col-md-9">
                                    <h4>Note:All the exhibits can be visited with your Entry Ticket</h4>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-primary btn-sm">Buy Your Entry Tickets</button>
                                </div>
                            </div>
                        </div>
                        <!-- end of div content for ExhibitFour -->
                        <!-- start of div content for ExhibitFive -->
                        <div class="tab-pane" id="exfivetarget">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="exhibit-placeholder_5"></div>
                                    <h4><strong>Killer Whales</strong></h4>
                                    <p>Their amazing size and savage chasing aptitudes have earned executioner whales the title of "top predator of the sea."Their particu-</p>
                                    <p>lar  high contrast hue — troublesome hue — may improve their chasing capacities. This kind of shading example repudiates the       </p>
                                    <p>exuctioner whale's body shape and in the glinting sifting daylight of the ocean, different creatures may not perceive an executioner    </p>
                                    <p>whale as a potential predator. Their eating methodologies differ starting with one area then onto the next, however generally       </p>
                                    <p>comprise of fishes, squids, seabirds (counting penguins),and marine vertebrates.Executioner whales live in all the seas of the world</p>
                                    <p> They're most inexhaustible in the Arctic, Antarctic, and territories of chilly water upwelling where the supplement rich water is  </p>
                                    <p>flourished with marine life. They live in cases — firm long haul social gatherings fundamentally made out of matrilineal gatherings </p>
                                    <p>that incorporate a female whale, her posterity etc. </p>


                                </div>
                            </div>
                            <div class="row exhibitnote">
                                <div class="col-md-9">
                                    <h4>Note:All the exhibits can be visited with your Entry Ticket</h4>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-primary btn-sm">Buy Your Entry Tickets</button>
                                </div>
                            </div>
                        </div>
                        <!-- end of div content for ExhibitFive -->
                        <!-- start of div content for ExhibitSix -->
                        <div class="tab-pane" id="exsixtarget">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="exhibit-placeholder_6"></div>
                                    <h4><strong>Coral Reef</strong></h4>
                                    <p>The Coral Reef Gallery is an exceptional perspective into a standout amongst the most excellent and assorted biological systems on  </p>
                                    <p>the planet - a natural surroundings regularly visited just by experienced divers.The coral reef display reproduces a 60-foot plunge </p>
                                    <p>beginning in shallow-water reefs and plummeting to more profound waters. Every survey window exhibits a micro living space which    </p>
                                    <p>changes as the depth increases.Stop by to see our one-of-a-kind coral reef gallery today! Often thought of as rocks or plants, corals</p>
                                    <p>are actually made up of invertebrates called polyps. These polyps can range in size from a millimeter to a foot in diameter. The polyps </p>
                                    <p> group together, forming a colony, and use calcium carbonate from the ocean to build a protective skeleton. </p>

                                </div>
                            </div>
                            <div class="row exhibitnote">
                                <div class="col-md-9">
                                    <h4>Note:All the exhibits can be visited with your Entry Ticket</h4>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-primary btn-sm">Buy Your Entry Tickets</button>
                                </div>
                            </div>
                        </div>
                        <!-- end of div content for ExhibitSix -->
                        <!-- start of div content for ExhibitSeven -->
                        <div class="tab-pane" id="exseventarget">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="exhibit-placeholder_7"></div>
                                    <h4><strong>Dainty Sealions</strong></h4>

                                    <p> The ocean lion stars perform a portion of the gymnastic and athletic practices which include: </p>
                                    <p>Olympic-style plunges on a high-plunging stage </p>
                                    <p>Effective swimming  </p>
                                    <p>Obstacle and high jumping </p>
                                    <p>Balancing acts </p>
                                    <p>Exercises in careful control  </p>
                                    <p>Lots of splashes and even more surprises While in front of an audience with the creatures, our coaches</p>
                                    <p>clarify ocean lion conduct and uplifting feedback preparing, creature fun truths and the requirement for</p>
                                    <p>rationing the ocean lions' sea environment.</p>


                                </div>
                            </div>
                            <div class="row exhibitnote">
                                <div class="col-md-9">
                                    <h4>Note:All the exhibits can be visited with your Entry Ticket</h4>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-primary btn-sm">Buy Your Entry Tickets</button>
                                </div>
                            </div>
                        </div>
                        <!-- end of div content for ExhibitSeven -->*@
                    </div>
                    <!-- end of nav tab content -->
                </div>
            </div>
        </div>

        <div class="container" style="margin-top:45px;">
            <footer style="text-align: center; font-size: 14px;">Aquatix &copy; 2016. All rights reserved.</footer>
        </div>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/jquery.cookie.js"></script>
        <script src="~/lib/bootstrap/dist/js/jquery.easing.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script src="http://maps.googleapis.com/maps/api/js"></script>
        <script src="~/js/home.js"></script>
        <script src="~/js/data.js"></script>
        <script src="~/js/exhibits.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>

    </environment>

</body>
</html>