@model IEnumerable<D05.Controllers.Coupons>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CouponString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CouponString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpireDate)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.CouponID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.CouponID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.CouponID">Delete</a>
        </td>
    </tr>
}
</table>
