@model IEnumerable<D05.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TicketGeneratedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitingTime)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TicketGeneratedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitReason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitingTime)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.TicketID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.TicketID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.TicketID">Delete</a>
        </td>
    </tr>
}
</table>
