@model D05.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedByEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedByEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaidAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaidAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsedCoupon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsedCoupon)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.TransactionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
