@model IEnumerable<D05.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="width : 100%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedByEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsedCoupon)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedByEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate.Month)/@Html.DisplayFor(modelItem => item.CreatedDate.Day)/@Html.DisplayFor(modelItem => item.CreatedDate.Year)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.PaidAmount)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsedCoupon)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.TransactionID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.TransactionID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.TransactionID">Delete</a>
        </td>
    </tr>
}
</table>
