@*@model IEnumerable<D05.Models.Event>*@


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> - Aquatix</title>


    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/planyourvisit.css" />

</head>
<body style="background-image:url(/img/admin.jpg)">

    @model D05.ViewModels.Admin.CustomViewModel
    <input type="hidden" value=hours id="tabInfo">
    <div id="adminmanager">
        <div class="navbar-wrapper">
            <div class="container">
                <!-- start  of navigation bar-->

                <nav class="navbar navbar-inverse" id="navid">
                    <div class="container">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Aquatix Aquarium</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <div class="navbar-right">

                                <div id="loginlinks">
                                    <div id="myaccount" style="padding-right:20px">
                                        <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="nav navbar-nav">
                                            <ul class="nav navbar-nav">

                                                <li>
                                                    <button type="submit" class="btn btn-link navbar-btn navbar-link"><span class="glyphicon glyphicon-log-out"></span>Log Off</button>
                                                </li>
                                            </ul>
                                        </form>
                                    </div>
                                    @*<ul class="nav navbar-nav">
                                        <li id="registernav"><a href="login.html" data-toggle="modal" data-target="#login"><span class="glyphicon glyphicon-log-in"></span> Log Off</a></li>
                                    </ul>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

                <!-- end of navigation bar-->
            </div>
        </div>

        <div class="container" style="margin-top:-10px;">

            <!-- start of nav tab left -->
            <div class="tabbable tabs-left">
                <div class="row">

                    <!-- start of list for nav tab left-->
                    <div class="col-md-3" id='tabmenu'>
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href="#CreateEvents" data-toggle="tab">Create Events</a></li>
                            @*<li><a href="#createCoupons" data-toggle="tab">Create Coupons</a></li>*@
                            <li><a href="#manageOrders" data-toggle="tab">Manage Transactions</a></li>
                            @*<li><a href="#manageUsers" data-toggle="tab">Manage Profiles</a></li>*@
                            <li><a href="#monitorOccasions" data-toggle="tab">Monitor Special Occasions</a></li>
                        </ul>
                    </div>
                    <!-- end of list for nav tab left-->
                    <!-- start of nav tab content -->
                    <div class="tab-content col-md-9">

                        <!-- start of div content for hours and prices-->
                        <div class="tab-pane fade in active" id="CreateEvents">
                            <!-- first row-->
                            
                            <!-- first row ends-->
                            <!-- second row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Event Details </h3> 
                                        </div>
                                     
                                        <div class="row">
                                            <div class="col-md-11 center" id="eventDetails">
                                           
                                                <div class="col-md-12 form-group">
                                                    <h4>
                                                  
                                                        @Html.ActionLink("Create Events", "Create", "Events", null, new { @class = "btn btn-primary btn-md pull-right glyphicon-plus" })
                                                    </h4>
                                                </div>

                                                <table class="table text-center">
                                                    <thead class="events">
                                                        <tr>
                                                            <th class="text-center">Name</th>

                                                            <th class="text-center">Special Event</th>
                                                            <th class="text-center">Price</th>
                                                            <th class="text-center"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            @foreach (var item in Model.Events)
                                                            {
                                                            <tr>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.EventName)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.IsSpecialEvent)
                                                                </td>

                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.OldAgePrice)
                                                                </td>
                                                                <td>
                                                                    @Html.ActionLink("Edit", "Edit", "Admin", new { id = @item.EventID } , new { @class = "btn btn-primary btn-sm" })
                                                                    @Html.ActionLink("Details", "Details", "Admin", new { id = @item.EventID }, new { @class = "btn btn-success btn-sm" })
                                                                    @Html.ActionLink("Delete", "Delete", "Events", new { id = @item.EventID }, new { @class = "btn btn-danger btn-sm" })
                                                                    @*<a  asp-action="Edit" asp-route-id="@item.EventID" >Edit</a> |
                                                                        <a asp-action="Details" asp-route-id="@item.EventID">Details</a> |
                                                                        <a asp-controller="Events" asp-action="Delete" asp-route-id="@item.EventID">Delete</a>*@
                                                                </td>
                                                            </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- second row ends-->
                            <!-- third row-->
                            <!--<div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">

                                        </div>
                                        <div class="panel-footer">

                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <!-- third row ends-->
                            @*<div class="tab-pane fade" id="createCoupons">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Coupon Details</h3>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-11 center" id="couponDetails">
                                                     <div class="col-md-12 form-group">
                                                    <h4>
                                                        Create an Event:
                                                        @Html.ActionLink("Create Events", "Create", "Events", null, new { @class = "btn btn-primary pull-right glyphicon-plus" })
                                                    </h4>
                                                        </div>
                                                    <br />
                                                    <table class="table text-center">
                                                        <thead class="events">
                                                            <tr>
                                                                <th class="text-center">Coupon Number</th>
                                                                <th class="text-center">Created Date</th>
                                                                <th class="text-center">Expiry Date</th>
                                                                <th class="text-center">Price Reduced</th>
                                                                <th class="text-center">Details</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>

                                                                @foreach (var item in Model.Coupons)
                                                                {
                                                                <tr>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.CouponNumber)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                                                    </td>

                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.ExpiryDate)
                                                                    </td>

                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.PriceReduced)
                                                                    </td>
                                                                    <td>
                                                                        <a asp-action="Edit" asp-route-id="@item.CouponID">Edit</a> |
                                                                        <a asp-action="Details" asp-route-id="@item.CouponID">Details</a> |
                                                                        <a asp-action="Delete" asp-route-id="@item.CouponID">Delete</a>
                                                                    </td>
                                                                </tr>
                                                                }

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                                <div id="manageOrders" class="tab-pane fade">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel panel-default panel-info">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Order Details   </h3>
                                                </div>
<br />
                                               
                                                <div class="row col-md-12">
                                                    @Html.ActionLink("Create Order", "Create", "OrderDetails", null, new { @class = "btn btn-primary pull-right btn-large glyphicon-plus " })
                                                </div>
                                          
                                                <br />
                                                

                                                <div class="row">
                                                    <div class="col-md-11 center" id="orderDetails">
                                                        <br />
                                                        <br />
                                                        <table class="table text-center">
                                                            <thead class="events">
                                                                <tr>
                                                                    <th class="text-center">Visitor Email</th>
                                                                    <th class="text-center">Contact Number</th>
                                                                    <th class="text-center">Date Of Visit</th>
                                                                    <th class="text-center">Ride Plan</th>
                                                                    <th class="text-center">Ride Quantity</th>
                                                                    <th class="text-center">Details </th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>

                                                                    @foreach (var item in Model.Order)
                                                                    {
                                                                    <tr>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.VisitorEmail)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.ContactNumber)
                                                                        </td>
                                                                        <td>
                                                                            @{
                                                                                DateTime thisDate = @item.DateOfVisit;
                                                                            }
                                                                            @thisDate.ToString("MMMM dd, yyyy")
                                                                            @*@Html.DisplayFor(modelItem => item.DateofVisit)*@
                                                                        </td>

                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.RidePlan)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.RideQty)
                                                                        </td>



                                                                        <td>
                                                                            @Html.ActionLink("Edit", "Edit", "OrderDetails", new { id = @item.OrderDetailID }, new { @class = "btn btn-primary btn-sm" })
                                                                            @Html.ActionLink("Details", "Details", "OrderDetails", new { id = @item.OrderDetailID }, new { @class = "btn btn-success btn-sm" })
                                                                            @Html.ActionLink("Delete", "Delete", "OrderDetails", new { id = @item.OrderDetailID }, new { @class = "btn btn-danger btn-sm" })


                                                                            @*<a asp-controller="OrderDetails" asp-action="Edit" asp-route-id="@item.OrderDetailID">Edit</a> |
                                                                            <a asp-controller="OrderDetails" asp-action="Details" asp-route-id="@item.OrderDetailID">Details</a> |
                                                                            <a asp-controller="OrderDetails" asp-action="Delete" asp-route-id="@item.OrderDetailID">Delete</a>*@
                                                                        </td>
                                                                    </tr>
                                                                    }

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of Orders-->

                                    @*<div id="manageUsers" class="tab-pane fade">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel panel-default panel-info">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">User Details<a class="pull-right"  asp-action="Create">Create</a></h3>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-11 center" id="userDetails">
                                                            <br />
                                                            <table class="table text-center">
                                                                <thead class="events">
                                                                    <tr>
                                                                        <th class="text-center">User Name</th>
                                                                        <th class="text-center">Age</th>
                                                                        <th class="text-center">Email</th>
                                                                        <th class="text-center">Details </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>

                                                                        @foreach (var item in Model.Users)
                                                                        {
                                                                        <tr>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.UserName)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Age)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Email)
                                                                            </td>
                                                                            <td>
                                                                                <a asp-controller="Users" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                                                                <a asp-controller="Users" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                                                                <a asp-controller="Users" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                                                            </td>
                                                                        </tr>
                                                                        }

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@

                                        
                                        <!-- end of div content for faqs-->
                        <div id="monitorOccasions" class="tab-pane fade">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default panel-info">
                                        <div class="panel-heading">
                                          

                                            <h3 class="panel-title">Birthday Party Details <a asp-controller="BirthdayParties" asp-action="Create"  class="pull-right glyphicon-plus" >Create</a></h3>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-11 center" id="partyDetails">
                                                <br />
                                                <table class="table text-center">
                                                    <thead class="events">
                                                        <tr>
                                                            <th class="text-center">Email</th>
                                                            <th class="text-center">Attendees</th>
                                                            <th class="text-center">Contact</th>
                                                            <th class="text-center">Visiting Date </th>
                                                            <th class="text-center"> </th>
                                                     
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>

                                                            @foreach (var item in Model.birthdayparties)
                                                            {
                                                            <tr>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.UserEmail)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.AttendeesNumber)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.ContactNumber)
                                                                </td>
                                                                <td>
                                                                    @{ 
                                                                        DateTime thisDate = @item.DateofVisit;
                                                                    }
                                                                    @thisDate.ToString("MMMM dd, yyyy")
                                                                </td>
                                                               
                                                                <td>
                                                                    @Html.ActionLink("Edit", "Edit", "BirthdayParties", new { id = @item.BirthdayPartyID }, new { @class = "btn btn-primary btn-sm" })
                                                                    @Html.ActionLink("Details", "Details", "BirthdayParties", new { id = @item.BirthdayPartyID }, new { @class = "btn btn-success btn-sm" })
                                                                    @Html.ActionLink("Delete", "Delete", "BirthdayParties", new { id = @item.BirthdayPartyID }, new { @class = "btn btn-danger btn-sm" })
                                                                    @*<a asp-controller="BirthdayParties" asp-action="Edit" asp-route-id="@item.BirthdayPartyID">Edit</a> |
                                                                    <a asp-controller="BirthdayParties" asp-action="Details" asp-route-id="@item.BirthdayPartyID">Details</a> |
                                                                    <a asp-controller="BirthdayParties" asp-action="Delete" asp-route-id="@item.BirthdayPartyID">Delete</a>*@
                                                                </td>
                                                            </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="panel panel-default panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">School Trip Details<a asp-controller="SchoolTrips" asp-action="Create" class="pull-right glyphicon-plus">Create</a></h3>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-11 center" id="partyDetails">
                                                <br />
                                                <table class="table text-center">
                                                    <thead class="events">
                                                        <tr>
                                                            <th class="text-center">Email</th>
                                                            <th class="text-center">Adults</th>
                                                            <th class="text-center">Children</th>
                                                            <th class="text-center">Contact</th>
                                                            <th class="text-center">Visiting Date </th>
                                                         
                                                            <th class="text-center"> </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>

                                                            @foreach (var item in Model.schooltrips)
                                                            {
                                                            <tr>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.SchoolEmail)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.NoOfAdults)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.NoOfChildren)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.ContactNumber)
                                                                </td>
                                                                <td>
                                                                    @{
                                                                        DateTime thisDate = @item.DateofVisit;
                                                                    }
                                                                    @thisDate.ToString("MMMM dd, yyyy")
                                                                    @*@Html.DisplayFor(modelItem => item.DateofVisit)*@
                                                                </td>
                                                              
                                                                <td>
                                                                    @Html.ActionLink("Edit", "Edit", "SchoolTrips", new { id = @item.SchoolTripID }, new { @class = "btn btn-primary btn-sm" })
                                                                    @Html.ActionLink("Details", "Details", "SchoolTrips", new { id = @item.SchoolTripID }, new { @class = "btn btn-success btn-sm" })
                                                                    @Html.ActionLink("Delete", "Delete", "SchoolTrips", new { id = @item.SchoolTripID }, new { @class = "btn btn-danger btn-sm" })


                                                                    @*<a asp-controller="SchoolTrips" asp-action="Edit" asp-route-id="@item.SchoolTripID">Edit</a> |
                                                                    <a asp-controller="SchoolTrips" asp-action="Details" asp-route-id="@item.SchoolTripID">Details</a> |
                                                                    <a asp-controller="SchoolTrips" asp-action="Delete" asp-route-id="@item.SchoolTripID">Delete</a>*@
                                                                </td>
                                                            </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="panel panel-default panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Sleep Over Details<a asp-controller="SleepOvers" asp-action="Create" class="pull-right glyphicon-plus">Create</a></h3>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-11 center" id="partyDetails">
                                                <br />
                                                <table class="table text-center">
                                                    <thead class="events">
                                                        <tr>
                                                            <th class="text-center">Email</th>
                                                            <th class="text-center">Attendees</th>
                                                            <th class="text-center">Contact</th>
                                                            <th class="text-center">Visiting Date </th>
                                                       
                                                            <th class="text-center"> </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>

                                                            @foreach (var item in Model.sleepovers)
                                                            {
                                                            <tr>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.UserEmail)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.AttendeesNumber)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.ContactNumber)
                                                                </td>
                                                                <td>
                                                                    @{
                                                                        DateTime thisDate = @item.DateofVisit;
                                                                    }
                                                                    @thisDate.ToString("MMMM dd, yyyy")
                                                                    @*@Html.DisplayFor(modelItem => item.DateofVisit)*@
                                                                </td>
                                                             
                                                                <td>
                                                                    @Html.ActionLink("Edit", "Edit", "SleepOvers", new { id = @item.SleepOverID }, new { @class = "btn btn-primary btn-sm" })
                                                                    @Html.ActionLink("Details", "Details", "SleepOvers", new { id = @item.SleepOverID }, new { @class = "btn btn-success btn-sm" })
                                                                    @Html.ActionLink("Delete", "Delete", "SleepOvers", new { id = @item.SleepOverID }, new { @class = "btn btn-danger btn-sm" })


                                                                    @*<a asp-controller="SleepOvers" asp-action="Edit" asp-route-id="@item.SleepOverID">Edit</a> |
                                                                    <a asp-controller="SleepOvers" asp-action="Details" asp-route-id="@item.SleepOverID">Details</a> |
                                                                    <a asp-controller="SleepOvers" asp-action="Delete" asp-route-id="@item.SleepOverID">Delete</a>*@
                                                                </td>
                                                            </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                
                    </div>
                                    <!-- end of nav tab content -->
                                </div>
                                <!-- end of div content for create events-->
                                <!-- first row-->
                                <!-- end of nav tab left -->
                            </div>
                            <!-- end of container-->


                            <div class="container" style="margin-top:45px;">
                                <footer style="text-align: center; font-size: 14px;">Aquatix &copy; 2016. All rights reserved.</footer>
                            </div>
                        </div>

                        <script src="/lib/jquery/dist/jquery.js"></script>
                        <script src="/js/jquery.cookie.js"></script>
                        <script src="/lib/bootstrap/dist/js/jquery.easing.min.js"></script>
                        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
                        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
                        <script src="http://maps.googleapis.com/maps/api/js"></script>
                        <script src="/js/home.js"></script>
                        <script src="/js/data.js"></script>
                        <script src="/js/planyourvisit.js"></script>
                        <script src="/js/datePicker.js"></script>




                </body>
            </html>