@*@model IEnumerable<D05.Models.Event>*@


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> - Aquatix</title>


    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/planyourvisit.css" />

</head>
<body>

    @model D05.ViewModels.Admin.CustomViewModel
    <input type="hidden" value=hours id="tabInfo">
    <div id="adminmanager">
        <div class="navbar-wrapper">
            <div class="container">
                <!-- start  of navigation bar-->

                <nav class="navbar navbar-inverse" id="navid">
                    <div class="container">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Aquatix Aquarium</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <div class="navbar-right">

                                <div id="loginlinks">
                                    <ul class="nav navbar-nav">
                                        <li id="registernav"><a href="login.html" data-toggle="modal" data-target="#login"><span class="glyphicon glyphicon-log-in"></span> Log Off</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

                <!-- end of navigation bar-->
            </div>
        </div>

        <div class="container" style="margin-top:-10px;">

            <!-- start of nav tab left -->
            <div class="tabbable tabs-left">
                <div class="row">

                    <!-- start of list for nav tab left-->
                    <div class="col-md-3" id='tabmenu'>
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href="#CreateEvents" data-toggle="tab">Create Events</a></li>
                            <li><a href="#createCoupons" data-toggle="tab">Create Coupons</a></li>
                            <li><a href="#manageOrders" data-toggle="tab">Manage Transactions</a></li>
                            <li><a href="#manageUsers" data-toggle="tab">Manage Profiles</a></li>
                            <li><a href="#monitorOccasions" data-toggle="tab">Monitor Special Occasions</a></li>
                        </ul>
                    </div>
                    <!-- end of list for nav tab left-->
                    <!-- start of nav tab content -->
                    <div class="tab-content col-md-9">

                        <!-- start of div content for hours and prices-->
                        <div class="tab-pane fade in active" id="CreateEvents">
                            <!-- first row-->
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="panel panel-default panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Aquatix Events</h3>
                                        </div>


                                        <div class="panel-body form-group">
                                            <div class="row">

                                                <label @*asp-for="EventName" *@ class="col-sm-2">Event:</label>
                                                <div class="col-sm-8 form-group">
                                                    <input @*asp-for="EventName" *@ class="form-control" id="focusedInput" type="text" name="EventName" value="" />
                                                </div>

                                                <div class="form-group">
                                                    <button asp-action="Create" asp-controller="Events" type="button" class="btn btn-primary glyphicon-plus form-group"> Create </button>
                                                </div>
                                            </div>
                                            <br />

                                            <div class="row">
                                                <label class="col-sm-2 "> Category:</label>

                                                <div class="col-sm-4 btn-group form-group" data-toggle="buttons">
                                                    <label @*asp-for="IsSpecialEvent" *@ class="btn btn-primary active">
                                                        <input type="radio" class="form-control" name="options" id="specialEvents" autocomplete="off" checked> Special Event
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" class="form-control" name="options" id="generalEvents" autocomplete="off"> General Event
                                                    </label>
                                                </div>
                                                <label class="col-sm-1">Date:</label>
                                                <div class="col-sm-3 form-group">
                                                    <input type="text" class="form-control" name="date" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- first row ends-->
                            <!-- second row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Event Details</h3>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-11 center" id="eventDetails">
                                                <br />
                                                <table class="table text-center">
                                                    <thead class="events">
                                                        <tr>
                                                            <th class="text-center">Name</th>

                                                            <th class="text-center">Category</th>
                                                            <th class="text-center">Price</th>
                                                            <th class="text-center">Details</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            @foreach (var item in Model.Events)
                                                            {
                                                            <tr>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.EventName)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.IsSpecialEvent)
                                                                </td>

                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.OldAgePrice)
                                                                </td>
                                                                <td>
                                                                    <a asp-action="Edit" asp-route-id="@item.EventID">Edit</a> |
                                                                    <a asp-action="Details" asp-route-id="@item.EventID">Details</a> |
                                                                    <a asp-controller="Events" asp-action="Delete" asp-route-id="@item.EventID">Delete</a>
                                                                </td>
                                                            </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- second row ends-->
                            <!-- third row-->
                            <!--<div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">

                                        </div>
                                        <div class="panel-footer">

                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <!-- third row ends-->
                            <div class="tab-pane fade" id="createCoupons">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Coupon Details</h3>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-11 center" id="couponDetails">
                                                    <br />
                                                    <table class="table text-center">
                                                        <thead class="events">
                                                            <tr>
                                                                <th class="text-center">Coupon Number</th>
                                                                <th class="text-center">Created Date</th>
                                                                <th class="text-center">Expiry Date</th>
                                                                <th class="text-center">Price Reduced</th>
                                                                <th class="text-center">Details</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>

                                                                @foreach (var item in Model.Coupons)
                                                                {
                                                                <tr>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.CouponNumber)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                                                    </td>

                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.ExpiryDate)
                                                                    </td>

                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.PriceReduced)
                                                                    </td>
                                                                    <td>
                                                                        <a asp-action="Edit" asp-route-id="@item.CouponID">Edit</a> |
                                                                        <a asp-action="Details" asp-route-id="@item.CouponID">Details</a> |
                                                                        <a asp-action="Delete" asp-route-id="@item.CouponID">Delete</a>
                                                                    </td>
                                                                </tr>
                                                                }

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="manageOrders" class="tab-pane fade">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel panel-default panel-info">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Order Details <a class="pull-right" asp-controller="OrderDetails" asp-action="Create">Create</a></h3>

                                                </div>

                                                <div class="row">
                                                    <div class="col-md-11 center" id="orderDetails">
                                                        <br />
                                                        <table class="table text-center">
                                                            <thead class="events">
                                                                <tr>
                                                                    <th class="text-center">Visitor Email</th>
                                                                    <th class="text-center">Contact Number</th>
                                                                    <th class="text-center">Date Of Visit</th>
                                                                    <th class="text-center">Ride Plan</th>
                                                                    <th class="text-center">Ride Quantity</th>
                                                                    <th class="text-center">Details </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>

                                                                    @foreach (var item in Model.Order)
                                                                    {
                                                                    <tr>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.VisitorEmail)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.ContactNumber)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.DateOfVisit)
                                                                        </td>

                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.RidePlan)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.RideQty)
                                                                        </td>



                                                                        <td>
                                                                            <a asp-controller="OrderDetails" asp-action="Edit" asp-route-id="@item.OrderDetailID">Edit</a> |
                                                                            <a asp-controller="OrderDetails" asp-action="Details" asp-route-id="@item.OrderDetailID">Details</a> |
                                                                            <a asp-controller="OrderDetails" asp-action="Delete" asp-route-id="@item.OrderDetailID">Delete</a>
                                                                        </td>
                                                                    </tr>
                                                                    }

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of Orders-->

                                    <div id="manageUsers" class="tab-pane fade">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel panel-default panel-info">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">User Details<a class="pull-right" asp-controller="ApplicationUsers" asp-action="Create">Create</a></h3>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-11 center" id="userDetails">
                                                            <br />
                                                            <table class="table text-center">
                                                                <thead class="events">
                                                                    <tr>
                                                                        <th class="text-center">User Name</th>
                                                                        <th class="text-center">Age</th>
                                                                        <th class="text-center">Email</th>
                                                                        <th class="text-center"> Details </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>

                                                                        @foreach (var item in Model.Users)
                                                                        {
                                                                        <tr>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.UserName)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Age)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Email)
                                                                            </td>
                                                                            <td>
                                                                                <a asp-controller="ApplicationUsers" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                                                                <a asp-controller="ApplicationUsers" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                                                                <a asp-controller="ApplicationUsers" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                                                            </td>
                                                                        </tr>
                                                                        }

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        
                                        <!-- end of div content for faqs-->
                        <div id="monitorOccasions" class="tab-pane fade">
                            <div class="row">
                                <h3> Hang over here..</h3>
                                <p> Data is yet to retrieve </p>
                                </div>
                            </div>
                
                    </div>
                                    <!-- end of nav tab content -->
                                </div>
                                <!-- end of div content for create events-->
                                <!-- first row-->
                                <!-- end of nav tab left -->
                            </div>
                            <!-- end of container-->


                            <div class="container" style="margin-top:45px;">
                                <footer style="text-align: center; font-size: 14px;">Aquatix &copy; 2016. All rights reserved.</footer>
                            </div>
                        </div>

                        <script src="/lib/jquery/dist/jquery.js"></script>
                        <script src="/js/jquery.cookie.js"></script>
                        <script src="/lib/bootstrap/dist/js/jquery.easing.min.js"></script>
                        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
                        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
                        <script src="http://maps.googleapis.com/maps/api/js"></script>
                        <script src="/js/home.js"></script>
                        <script src="/js/data.js"></script>
                        <script src="/js/planyourvisit.js"></script>
                        <script src="/js/datePicker.js"></script>




                </body>
            </html>